.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__img {
  height: 200px;
  object-fit: cover;
}

.card__link {
  display: flex;
  justify-content: space-between;
}

.card__title-container {
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-size: 16px;
  font-weight: 700;
}

.card__arrow {
  max-width: 24px;
  width: 100%;
  height: 24px;
}

.card__icon {
  width: 24px;
  height: 24px;
}

.card__content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.card__description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__info {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  font-size: 10px;
  color: #8e8e8e;
}

.card__author {
  width: 100%;
  display: -webkit-box;
  align-items: flex-end;
  justify-content: flex-end;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: right;
}
