.header {
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header__logo {
  width: 76px;
  height: 40px;
}

.search-form {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.search-form__input,
.search-form__select {
  width: 100%;
  padding: 16px 42px 16px 20px;
  font-size: 14px;
  letter-spacing: 0.02em;
  border-radius: 40px;
  border: 1px solid #e6e6e6;
  outline: none;
}

.search-form__input {
  max-width: 500px;
}

.search-form__select {
  max-width: 320px;
}

.search-form__input::placeholder {
  color: #212121;
}

.search-form__btn {
  position: absolute;
  top: -2px;
  right: 370px;
  bottom: 0;
}

.search-form__icon {
  width: 22px;
  height: 22px;
}
