.post-list {
  padding: 20px 0 50px;
}

.post-list__title {
  --container-width: 1140px;
  font-size: 26px;
  font-weight: 700;
  padding-left: calc((100% - var(--container-width)) / 2);
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.post-list__items {
  --grid-count: 4;
  --grid-column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(
    var(--grid-count),
    calc(
      (100% / var(--grid-count)) -
        (var(--grid-column-gap) * (var(--grid-count) - 1) / var(--grid-count))
    )
  );
  gap: 40px var(--grid-column-gap);
  padding-top: 40px;
}

.post-list__item {
  height: 100%;
}

@media (max-width: 1200px) {
  .post-list__title {
    --container-width: 1140px;
    --container-offset: 30px;
    max-width: calc(var(--container-width) + var(--container-offset) * 2);
    padding: 0 var(--container-offset) 20px;
  }
}

@media (max-width: 768px) {
  .post-list__items {
    --grid-count: 2;
  }
}

@media (max-width: 470px) {
  .post-list {
    padding-bottom: 20px;
  }

  .post-list__items {
    --grid-count: 1;
    row-gap: 20px;
    padding-top: 20px;
  }

  .post-list__title {
    --container-offset: 11px;
  }
}
